﻿@model BGlobalChallenge.Models.Vehicle

@{
    ViewData["Title"] = "Create vehicle";
}

<h1>Create vehicle</h1>
<hr />
<h5>
    This is the section where we can add vehicles to the local database.
</h5>
<hr />
<h4>Vehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Patent" class="control-label"></label>
                <input asp-for="Patent" class="form-control" />
                <span asp-validation-for="Patent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                @*@<select asp-for="Brand" class="form-control"></select>*@
                <select asp-for="Brand" asp-items="Html.GetEnumSelectList<Brand>()" class="form-control"></select>
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoorQty" class="control-label"></label>
                <input asp-for="DoorQty" class="form-control" />
                <span asp-validation-for="DoorQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Owner" class="control-label"></label>
                <select asp-for="Owner" asp-items="@(new SelectList(ViewBag.message, "FullName", "FullName"))" class="form-control"></select>                
                <span asp-validation-for="Owner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
