﻿@model BGlobalChallenge.Models.Vehicle

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete vehicle</h1>
<hr />
<h5>
    This is the section where we can delete one of our vehicles.
</h5>
<hr />
<h3>Are you sure you want to delete this vehicle?</h3>
<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoorQty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DoorQty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
