﻿@model BGlobalChallenge.Models.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h1> Vehicle details</h1>
<hr />
<h5>
    This is the section where we can see the details of one of our vehicles.
</h5>
<hr />
<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoorQty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DoorQty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
