﻿@model IEnumerable<BGlobalChallenge.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Vehicle Index</h1>
<hr />
<h5>
    This is the section where we see all the vehicles that have been created. We also have the possibility to edit, see the details and delete them.
</h5>
<hr />
<p>
    <a asp-action="Create" class="btn btn-sm btn-primary rounded-0 text-uppercase">
        <i class="fas fa-plus-circle"></i> Add new vehicle
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoorQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Patent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoorQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-sm btn-success rounded-0" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" class="btn btn-sm btn-warning rounded-0" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" class="btn btn-sm btn-danger rounded-0" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
