﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the BGlobalChallenge project!</h1>
    <hr />
    <h5>
        This is the Rodrigo Vega Gimenez challenge to be part of the BGlobal team, hope you like it!
        <br />
        PS: That'd be nice to have a bit of Front-end application but due the time it can be subject of discussion for another time ;)
    </h5>
    <hr />
</div>
